<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDb" connectionString="server=127.0.0.1;database=petrsu_timetable_2014_2015_new3" />
    <add name="MongoDbUsers" connectionString="server=127.0.0.1;database=petrsu_timetable2" />
  </connectionStrings>
</configuration>