<div class="modal modal-medium" id="scheduleGraphModal" tabindex="-1" role="dialog" aria-labelledby="scheduleGraphLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title" id="scheduleGraphModalLabel">Граф запланированых занятий</h4>
            </div>
            <div class="modal-body">

                
                    <div id="graph-container">
                        <div id="container"></div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>