
<div class="modal" id="threadSelectorDiagramModal" tabindex="-1" role="dialog" aria-labelledby="threadSelectorDiagramModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                <h4 class="modal-title" id="threadSelectorDiagramModalLabel">Занятия</h4>
            </div>
            <div class="modal-body">
                <canvas id="threadSelectorChart" width="400" height="400"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


